@keyframes sflipInX {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes sflipOutX {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes backInX {
    0% {
        transform: translateX(-50%);
        opacity: .5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes backOutX {
    0% {
        transform: translateX(0);
        box-shadow: 0 0 28px rgba(0, 0, 0, .3);
    }

    100% {
        transform: translateX(100%);
        box-shadow: 0 0 28px rgba(0, 0, 0, .3);
    }
}

@keyframes bgFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bgFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes contentZoomIn {
    0% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes contentZoomOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
    }
}

@keyframes contentBootIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes contentBootOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
